/* Footer css */

#footer{
  background-color: #1B2430;
  color: white;
  padding-top: 10px;
  bottom:0;
  width:100%;
  overflow: visible;
}
.footer-left{
  display: flex;
    justify-content: center;
    margin-top: 50px;
}
.footer-ul{
  display: block;
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.footer-end-top{
  display: flex;
  justify-content: flex-end;
}
.footer-logo{
  width: 50px;
    font-size: x-large;
    background: white;
    color: black;
    border-radius: 50%;
    height: 50px;
    padding: 7px;
}
.footer-name{
  margin-top: 10px;
  margin-left: 10px;
  font-size: larger;
}
.margin-right-footer{
  margin-right: 50px;
}
.footer-end{
  height: 100px;
}
.footer-end-bottom{
  float: right;
  margin-right: 50px;
}

/* Header css */

.header-menu-button{
  margin-left: 30px;
}
.nav{
  display: flex;
  justify-content: space-between;
}
.nav-left{
  display: flex;
}

.nav-right{
  display: flex;
}

/* AD css */

.ad-sec-cont{
  background: transparent linear-gradient(180deg, #DB750A 0%, #DB4300 100%) 0% 0% no-repeat padding-box;
  opacity: 1;
  display: flex;
    justify-content: space-around;
    padding: 20px;
}

.ad-msg{
  display: flex;
    flex-direction: column;
    justify-content: center;
}

.opt-nxt{
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 15px #00000014;
opacity: 1;
}

.option-sec-cont{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.options{
  background-color: black;
  border-radius: 50%;
  align-items: center;
}

.opt-food{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.opt-food-span{
  font-weight: 500;
  text-align: center;
}

/* Filter css */

.food-filter{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

/* Category section css */

.cat-title-cont{
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cat-title{
  font: normal normal bold 34px Roboto;
}

.cat-options{
  display: flex;
}

.opt-card{
  padding: 10px;
  text-align: initial;
  width: 33.33%;
  overflow: hidden;
}

.opt-restaurant{
  font-size: larger;
  font-weight: 600;
}

.opt-rest-det{
  color: #B1B1B1;
}

.opt-img{
  width: 400px;
  height: 198px;
}

/* Right drawer css */

.right-drawer{
  width: 400px;
  padding: 20px;
}

.right-drawer-title{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.checkout{
  background: transparent linear-gradient(
180deg
, #DB750A 0%, #DB4300 100%) 0% 0% no-repeat padding-box;
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: wheat;
}

.drawer-item{
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
}
.change{
  display: flex;
  justify-content: space-between;
  width: 100px;
}

/* PAyment page css */

.payment{
  display:flex;
  justify-content: center;
}

.payment-input{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #C3CFE2;
  border-radius: 7px;
  padding: 10px;
  margin: 15px 5px;
}

.pay-button{
  background: transparent linear-gradient(180deg, #DB750A 0%, #DB4300 100%) 0% 0% no-repeat padding-box;
  border-radius: 40px;
  text-align: center;
  padding: 5px 15px;
  margin: 5px 35px;
  color: white;
  font-size: 30px;
  font-weight: 500;
}

.payment-done{
  text-align: center;
}

/* MyOrders css */

.orders-title{
  text-align: left;
  font-size: xx-large;
  font-weight: 500;
}

.orders-subtitle{
  text-align: left;
  color: #8E8E8E;
  padding-block-end: 10px;
}

.Order-sec{
  padding: 10px;
}

/* Rating page css */

.rest-name{
  text-align: left;
  font: normal normal normal 18px Roboto;
  letter-spacing: 0px;
  color: #E87803;
}

.delivery-det{
  text-align: left;
}

.nxt-steps{
  display: flex;
  justify-content: space-around;
}

.rate-food{
  background: #E8E8E8 0% 0% no-repeat padding-box;
  border-radius: 40px;
  padding: 10px;
  color: black;
}

.reorder{
  background: transparent linear-gradient(180deg, #DB750A 0%, #DB4300 100%) 0% 0% no-repeat padding-box;
  border-radius: 40px;
  padding: 10px;
  color: #FFFFFF;
}


.rating-img{
  opacity: 0.8;
}

.rest-rating-sec{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline-start: 10px;
  text-align: left;
}

.rat-title-sec{
  font: normal normal normal 17px/20px SF Pro;
  letter-spacing: 0px;
  color: #ACACAC;
}

.ret-rest-tit{
  font: normal normal normal 32px Roboto;
  letter-spacing: 0px;
  color: #E87803;

}
.rating-box{
  border-style: outset;
    border-radius: 20px;
    padding: 5px 15px 1px;
}

.remove-sec{
  position: absolute;
  right: 10px;
  top: 5px;
}

/* amplify sign out css */

amplify-sign-out{
  --amplify-primary-color: white;
  --amplify-primary-contrast: black;  
}

/* Menu seperate page css */

.menu-page-cont{
  height: 2000px
}
.menu-name-sec{
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* Body css corrections */

a:hover{
  text-decoration: none;
}

.App{
  padding: 0px 5% 0px 5%;
}

button:focus {
  outline: none;
}